/*
Actualiza Fecha de Servicio de las OS, para el día: '20170627'
*/

BEGIN TRAN;

SET NOCOUNT ON;

if OBJECT_ID('tempdb..#OrdenesFestivo') IS NULL
	create table #OrdenesFestivo (Num_OrdenServicio FLOAT);

insert into #OrdenesFestivo (Num_OrdenServicio) values (16063069);
insert into #OrdenesFestivo (Num_OrdenServicio) values (16063087);
insert into #OrdenesFestivo (Num_OrdenServicio) values (16063095);

declare @Total INT;
select @Total = count(1) from #OrdenesFestivo;

print 'Ordenes para Modificar: ' + CAST(@Total as VARCHAR);

----------------------------------------
-- Cambia Fecha en SERVICIO
----------------------------------------
update oss set oss.FechaServicio = '20170627'
from SERVICIO..OrdenServicio as oss
inner join #OrdenesFestivo as osf on osf.Num_OrdenServicio = oss.Num_OrdenServicio;

print ''
print 'Ordenes Modificadas en SERVICIO: ' + CAST(@@ROWCOUNT as VARCHAR);


----------------------------------------
-- Cambia Fecha en TRANSPORTE
----------------------------------------
update ost set ost.FechaServicio = '20170627'
from TRANSPORTE..OrdenServicio as ost
inner join #OrdenesFestivo as osf on osf.Num_OrdenServicio = ost.Num_OrdenServicio;

print ''
print 'Ordenes Modificadas en TRANSPORTE: ' + CAST(@@ROWCOUNT as VARCHAR);


if OBJECT_ID('tempdb..#OrdenesFestivo') IS NOT NULL
	drop table #OrdenesFestivo;


ROLLBACK;

-- COMMIT;
